<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Instrumento de Avaliação Disponível</title>
</head>
<body>
  <h5>Olá <%= @evaluation.evaluated.name %>,</h5>
  <p>
    Você foi convidado a completar o instrumento <b><%= @evaluation.instrument.name %></b>
  </p>
  <p>
    Clique no link abaixo para iniciar sua avaliação.
  </p>
  <p>
    <%= link_to 'Iniciar o instrumento', "http://localhost:5173/confirm/#{@evaluation.token}" %>
  </p>
  <footer>
    Atenciosamente, PsyAccess
  </footer>
</body>
</html>
